fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
streamlit
google-generativeai
supabase
gunicorn
openai
firebase-admin
boto3
pillow
streamlit-cropper
requests
python-multipart
imageio-ffmpeg
japanize-matplotlib
cryptography==46.0.4
